.docs-toc {
  order: 2;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 1rem
}

#TableOfContents li a,
.toc-top li a {
  display: block;
  padding: .125rem 1.5rem;
  color: #99979c;
  font-size: 1rem;
}

pre,
code {
  font-size: .9rem;
}

.img-sm {
  max-height: 200px;
}

.img-sm img{
  max-height:200px
}

.img-md {
  max-height: 400px;
}

.img-md img{
  max-height:400px
}

.img-md figcaption{
  color: grey;
  text-align: center;
  font-size: .8rem;
}


.img-lg {
  max-height: 500px;
}

.img-lg img{
  max-height:500px
}

.img-xl {
  max-height: 700px;
}

.img-xl img{
  max-height:700px
}
