.docs-toc {
  order: 2;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 1rem
}

#TableOfContents li a,
.toc-top li a {
  display: block;
  padding: .125rem 1.5rem;
  color: #99979c;
  font-size: 1rem;
}
